/*==================================
=            SITE STUFF            =
==================================*/
.scotchified {
   background-image: url("../img/choppingboard.jpg");
   margin: 0;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
header {
    position: relative;
    background: #819c05;
    height: 50px;
    text-align: center;
}
header a:hover {
    color: #fff;
}
header .logo {
    display: inline-block;
    width: 218px;
    padding: 2px;
}
header .toggle-panel {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
}
article {
    height: 5000px;
}




/*====================================
=            PANEL STYLES            =
====================================*/
#scotch-panel {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    form {
      color: #fff;
      padding: 1em 0;
      label {
        font-size: 12px;
        width: 95px;
        display: inline-block;
      }
      h3 {
        margin-top: 0;
        font-weight: normal;
      }
    }
}
#scotch-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#scotch-panel ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: #fff;
}
#scotch-panel ul li a:hover {
    background: #555;
}

#ingredients {
  width: 191px;
  // margin-left: 1em;
  border-radius: 2em;
  outline: none;
  border-color: #ca3763;
  padding: 6px 10px;
}

.myIngredients li {
  background-color: white;
  padding: 6px;
  border: 2px solid #492c6b;
  text-align: left;
  width: 49.8%;
  margin: 0.1%;
  display: inline-block;
  position: relative;
  &.last {
    width: 100%;
  }
}


.remove {
  cursor: pointer;
  height: 0 !important;
  line-height: inherit !important;
  &:before {
    content: "\f00d";
    font-family: FontAwesome;
    float: right;
    top: -4px;
    position: absolute;
    right: 6px;
    font-size: 1.5em;
    cursor: pointer;
    color: #8c8c8c;
    padding: 5px;
  }
}

.xdsoft_autocomplete .xdsoft_autocomplete_dropdown {
  color: black;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 8px !important;
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div.active {
  background-color: #819c05 !important;
}

.content {
  text-align: center;
  h1 {
    color: #ca3763;
    // font-family: 'PT Mono', ;
    text-transform: uppercase;
    font-size: 2em;
  }
  .intro {
    font-size: 1.2em;
    padding: 0 1% 1%;
    line-height: 1.5em;
  }
  .filter-cta {
    background-color: #819c05;
    text-transform: uppercase;
    // font-family: 'PT Mono', ;
    color: #fff;
    width: 95%;
    margin: 2% 2% 6%;
    text-align: left;
    .fa {
      font-size: 2em;
      color: white;
      padding: 4%
    }
    p {
      font-size: 0.82em;
      display: inline-block;
      vertical-align: top;
      padding-top: 3%;
      margin-left: -10px;
    }
   }
}

#dishes {
  .grid-item {
    .text-overlay {
      position: absolute;
      bottom: 0;
      color: #fff;
      background-color:rgba(0,0,0,0.7);
      width: 100%;
      padding: 5%;
      margin: 0;
      text-transform: uppercase;
      // font-family: 'PT Mono', ;
    }
  }
}

.overlay {
  display: none;
}

* { box-sizing: border-box; }


.popup-modal-dismiss {
  position: relative;
  top: 1em;
  left: 3%;
  float: left;
  background-color: #ca3763;
  padding: 17px;
  color: #fff;
  border-radius: 10px;
}

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

#results {
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-sizer,
  .grid-item {
    width: 20%;
  }

  .grid-item {
    float: left;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

#test-modal {
  background-image: url("../img/choppingboard.jpg");
  background-color: #FFFFFF;
  text-align: center;
  height: 100%;
  h1 {
    width: 90%;
    margin-left: 10%;
  }
  .imageRow {
    background-color: #fff;
    border-top: 5px solid #613594;
    border-bottom: 10px solid #ca3763;
    height: 60vh;
    img {
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      background-color: #FFFFFF;
    }
  }
  #print {
    background-color: #FFFFFF;
    .cardIntro {
      background-color: #fff;
      margin: 2%;
      padding: 3%;
      // font-family: "PT Mono";
      color: #ca3763;
      margin: 0 auto;
      span {
        background-color: #FFFFFF;
        font-size: 2em;
      }
      em {
        background-color: #FFFFFF;
        font-style: normal;
        font-size: 1.5em;
      }
    }
  }
  #method {
    background-color: #FFFFFF !important;
    width: 90%;
    margin: 2% auto;
    padding-top: 5px;
    height: 100%;
    .recipe_guide {
      width: 60%;
      margin-left: 40%;
      text-align: right;
      background-color: #FFFFFF !important;
      padding: 2%;
      .serving, .ready_in  {
          display: inline;
          background-color: #FFFFFF;
          text-align: left;
          .fa {
            background-color: #bebebe;
            padding: 5px 8px;
            font-size: 2em;
            border-radius: 5px;
            color: #fff;
          }
          span {
            padding-left: 5px;
            display: inline-block;
            vertical-align: top;
          }
          em {
            display: block;
            font-style: normal;
            font-size: 1.4em;;
          }
      }
      .serving {
        background-color: #FFFFFF;
        padding-right: 10px;
      }
    }
    .summary {
      margin: 2% 2.5% 0;
      text-align: left;
      background-color: #FFFFFF !important;
    }

    .ingredient_label, .directions_label {
      // font-family: "PT Mono";
      background-color: #613594;
      width: 200px;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.3em;
      padding: 4px;
    }
    .ingredients {
      padding: 2%;
      border: 2px dashed #829c05;
      margin: 3% 5% 5%;
      border-radius: 30px;
      text-align: center;
      background-color: #FFFFFF !important;
      p {
        width: 100px;
        display: inline-block;
        vertical-align: top;
        margin: 1%;
        img {
          width: 100px;
          max-height: 70px;
        }
        span {
          font-size: 12px;
          text-align: center;
          display: block;
        }
      }
    }
    .method {
      margin: 3.5% 2.5%;
      text-align: left;
      background-color: #FFFFFF !important;
      ol {
        width: 98%;
        color: black;
        a {
          color: black;
        }
        li {
          margin-bottom: 1em;
        }
      }
    }
    #create_pdf {
      background-color: #819c05;
      padding: 17px;
      color: #fff;
      border-radius: 10px;
      max-width: 223px;
      margin: 0 auto;
      margin-bottom: 4%;
    }
  }
  #similar {
    background-color: #ca3763;
    padding: 2%;
    color: #fff;
    .similarIntro {
      // font-family: "PT Mono";
      text-transform: uppercase;
      font-size: 2em;
    }
  }
  #similar-recipies {
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }

    .grid-sizer,
    .grid-item {
      width: 25%;
    }

    .grid-item {
      float: left;
    }

    .grid-item img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
}

.hidefilter {
  display: none;
}

select {
  background: transparent;
  border: 2px solid #ca3763;
  outline: none;
  font-size: 11px;
  height: 27px;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px;
  padding: 5px 9px;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 92% 50%;
  height: 29px;
  overflow: hidden;
  width: 191px;
  select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px;
    padding: 5px 9px;
    /* If you add too much padding here, the options won't show in IE */
  }
}

/* -------------------- Rounded Corners */

.rounded {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  background-color: #fff;
}


#mainselection {
  select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
  }
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */

select {
  &#soflow {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
  }
  &#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
  }
}




@media (max-width: 400px) {
  #results {
    .grid-sizer,
    .grid-item {
      width: 100% !important;
    }
  }
   #test-modal  #similar-recipies {
    .grid-sizer,
    .grid-item {
      width: 100% !important;
    }
  }
}

@media (min-width: 450px) {
  .filter-cta {
    max-width: 425px;
    margin-bottom: 3% !important;
    .fa {
      font-size: 3em !important;
      padding: 2% 4% !important;
    }
    p {
      font-size: 1.2em !important;
      padding-top: 1% !important;
    }
  }
}


@media (max-width: 600px) {
  #results {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
  }
   #test-modal  #similar-recipies {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
  }
  #test-modal {
    h1 {
      font-size: 1.5em;
    }
    .imageRow {
      height: 45vh;
    }
  }
  .popup-modal-dismiss {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  #test-modal #method .recipe_guide {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 600px) {
  #test-modal #method .recipe_guide {
    width: 80%;
    margin-left: 20%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #results {
    .grid-sizer,
    .grid-item {
      width: 33.3333%;
    }
  }
   #test-modal  #similar-recipies {
    .grid-sizer,
    .grid-item {
      width: 33.3333%;
    }
  }
}


@media (min-width: 901px) and (max-width: 1200px) {
  #results {
    .grid-sizer,
    .grid-item {
      width: 25%;
    }
  }
   #test-modal  #similar-recipies {
    .grid-sizer,
    .grid-item {
      width: 25%;
    }
  }
}
