/*==================================
=            SITE STUFF            =
==================================*/

.scotchified {
   background-image: url("../img/choppingboard.jpg");
}
a {
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
header {
    position: relative;
    background: #819c05;
    height: 50px;
}
header a {
    color: #777;
}
header a:hover {
    color: #fff;
}
header .logo {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
header .toggle-panel {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
}
article {
    height: 5000px;
}




/*====================================
=            PANEL STYLES            =
====================================*/
#scotch-panel {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1%;
    form {
      color: #fff;
      label {
        font-size: 12px;
      }
      h3 {
        font-weight: normal;
      }
    }
}
#scotch-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#scotch-panel ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: #fff;
}
#scotch-panel ul li a:hover {
    background: #555;
}

#ingredients {
  width: 180px;
  margin-left: 1em;
  border-radius: 2em;
  outline: none;
  border-color: #ca3763;
  padding: 6px 10px;
}

.myIngredients li {
  background-color: white;
  padding: 6px;
  border: 2px solid #492c6b;
  text-align: left;
  width: 49.8%;
  margin: 0.1%;
  display: inline-block;
  position: relative;
  &.last {
    width: 100%;
  }
}
.remove {
  cursor: pointer;
  height: 0 !important;
  line-height: inherit !important;
  &:before {
    content: "\f00d";
    font-family: FontAwesome;
    float: right;
    top: -4px;
    position: absolute;
    right: 6px;
    font-size: 1.5em;
    cursor: pointer;
    color: #8c8c8c;
    padding: 5px;
  }
}

.xdsoft_autocomplete .xdsoft_autocomplete_dropdown {
  color: black;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 8px !important;
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div.active {
  background-color: #819c05 !important;
}

#dishes {
  .grid-item {
    .text-overlay {
      position: absolute;
      bottom: 0;
      color: #fff;
      background-color:rgba(0,0,0,0.7);
      width: 100%;
      padding: 5%;
      margin: 0;
      text-transform: uppercase;
      font-family: 'PT Mono', ;
    }
  }
}

.overlay {
  display: none;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


@media (max-width: 400px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}


@media (min-width: 501px) and (max-width: 900px) {
  .grid-sizer,
  .grid-item {
    width: 33.3333%;
  }
}
