/*==================================
=            SITE STUFF            =
==================================*/
.scotchified {
   background-image: url("../img/choppingboard.jpg");
   margin: 0;
}
a {
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
header {
    position: relative;
    background: #819c05;
    height: 50px;
}
header a {
    color: #777;
}
header a:hover {
    color: #fff;
}
header .logo {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
header .toggle-panel {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
}
article {
    height: 5000px;
}




/*====================================
=            PANEL STYLES            =
====================================*/
#scotch-panel {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    form {
      color: #fff;
      padding: 1em 0;
      label {
        font-size: 12px;
        width: 95px;
        display: inline-block;
      }
      h3 {
        margin-top: 0;
        font-weight: normal;
      }
    }
}
#scotch-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#scotch-panel ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: #fff;
}
#scotch-panel ul li a:hover {
    background: #555;
}

#ingredients {
  width: 191px;
  // margin-left: 1em;
  border-radius: 2em;
  outline: none;
  border-color: #ca3763;
  padding: 6px 10px;
}

.myIngredients li {
  background-color: white;
  padding: 6px;
  border: 2px solid #492c6b;
  text-align: left;
  width: 49.8%;
  margin: 0.1%;
  display: inline-block;
  position: relative;
  &.last {
    width: 100%;
  }
}


.remove {
  cursor: pointer;
  height: 0 !important;
  line-height: inherit !important;
  &:before {
    content: "\f00d";
    font-family: FontAwesome;
    float: right;
    top: -4px;
    position: absolute;
    right: 6px;
    font-size: 1.5em;
    cursor: pointer;
    color: #8c8c8c;
    padding: 5px;
  }
}

.xdsoft_autocomplete .xdsoft_autocomplete_dropdown {
  color: black;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 8px !important;
}
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div.active {
  background-color: #819c05 !important;
}

.content {
  text-align: center;
  h1 {
    color: #ca3763;
    font-family: 'PT Mono', ;
    text-transform: uppercase;
    font-size: 2em;
  }
  .intro {
    padding: 0 1% 1%;
    line-height: 1.5em;
  }
  .filter-cta {
    background-color: #819c05;
    text-transform: uppercase;
    font-family: 'PT Mono', ;
    color: #fff;
    width: 95%;
    margin: 2% 2% 6%;
    text-align: left;
    .fa {
      font-size: 2em;
      color: white;
      padding: 4%
    }
    p {
      font-size: 0.82em;
      display: inline-block;
      vertical-align: top;
      padding-top: 3%;
      margin-left: -10px;
    }
   }
}

#dishes {
  .grid-item {
    .text-overlay {
      position: absolute;
      bottom: 0;
      color: #fff;
      background-color:rgba(0,0,0,0.7);
      width: 100%;
      padding: 5%;
      margin: 0;
      text-transform: uppercase;
      font-family: 'PT Mono', ;
    }
  }
}

.overlay {
  display: none;
}

* { box-sizing: border-box; }


.popup-modal-dismiss {
  position: relative;
  top: 1em;
  left: 3%;
  float: left;
  background-color: #ca3763;
  padding: 17px;
  color: #fff;
  border-radius: 10px;
}

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }


  #test-modal {
    background-image: url("../img/choppingboard.jpg");
    background-color: white;
    text-align: center;
    height: 100%;
    h1 {
      width: 90%;
      margin-left: 10%;
    }
    .imageRow {
      background-color: #fff;
      border-top: 5px solid #613594;
      border-bottom: 10px solid #ca3763;
      height: 60vh;
      img {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        background-color: white;
      }
    }
    #print {
      background-color: white;
      .cardIntro {
        background-color: white;
        max-width: 800px;
        margin: 2%;
        padding: 3%;
        font-family: "PT Mono";
        color: #ca3763;
        margin: 0 auto;
        span {
          background-color: white;
          font-size: 2em;
        }
        em {
          background-color: white;
          font-style: normal;
          font-size: 1.5em;
        }
      }
    }
    #method {
      background-color: white !important;
      width: 90%;
      margin: 2% auto;
      padding-top: 5px;
      height: 100%;
      .recipe_guide {
        width: 60%;
        margin-left: 40%;
        text-align: right;
        background-color: white !important;
        padding: 2%;
        .serving, .ready_in  {
            display: inline;
            background-color: white;
            text-align: left;
            .fa {
              background-color: #bebebe;
              padding: 5px 8px;
              font-size: 2em;
              border-radius: 5px;
              color: #fff;
            }
            span {
              padding-left: 5px;
              display: inline-block;
              vertical-align: top;
            }
            em {
              display: block;
              font-style: normal;
              font-size: 1.4em;;
            }
        }
        .serving {
          background-color: white;
          padding-right: 10px;
        }
      }
      .summary {
        margin: 3.5% 2.5% 0;
        text-align: left;
        background-color: white !important;
      }

      .ingredient_label, .directions_label {
        font-family: "PT Mono";
        background-color: #613594;
        width: 200px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3em;
        padding: 4px;
      }
      .ingredients {
        padding: 2%;
        border: 2px dashed #829c05;
        margin: 3% 5% 5%;
        border-radius: 30px;
        text-align: left;
        p {
          width: 100px;
          display: inline-block;
          vertical-align: top;
          margin: 1%;
          img {
            width: 100px;
            max-height: 70px;
          }
          span {
            font-size: 12px;
            text-align: center;
            display: block;
          }
        }
      }
      .method {
        margin: 3.5% 2.5%;
        text-align: left;
        ol {
          width: 98%;
          color: black;
          a {
            color: black;
          }
          li {
            margin-bottom: 1em;
          }
        }
      }
      #create_pdf {
        background-color: #819c05;
        padding: 17px;
        color: #fff;
        border-radius: 10px;
        max-width: 223px;
        margin: 0 auto;
        margin-bottom: 4%;
      }
    }
  }

  .hidefilter {
    display: none;
  }

select {
  background: transparent;
  border: 2px solid #ca3763;
  outline: none;
  font-size: 11px;
  height: 27px;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px;
  padding: 5px 9px;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 92% 50%;
  height: 29px;
  overflow: hidden;
  width: 191px;
  select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px;
    padding: 5px 9px;
    /* If you add too much padding here, the options won't show in IE */
  }
}

/* -------------------- Rounded Corners */

.rounded {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  background-color: #fff;
}


#mainselection {
  select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
  }
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */

select {
  &#soflow {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
  }
  &#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
  }
}




@media (max-width: 400px) {
  .grid-sizer,
  .grid-item {
    width: 100% !important;
  }
}

@media (min-width: 450px) {
  .filter-cta {
    max-width: 425px;
    margin-bottom: 3% !important;
    .fa {
      font-size: 3em !important;
      padding: 2% 4% !important;
    }
    p {
      font-size: 1.2em !important;
      padding-top: 1% !important;
    }
  }
}


@media (max-width: 600px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  #test-modal {
    h1 {
      font-size: 1.5em;
    }
    .imageRow {
      height: 45vh;
    }
  }
  .popup-modal-dismiss {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  #test-modal #method .recipe_guide {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 600px) {
  #test-modal #method .recipe_guide {
    width: 80%;
    margin-left: 20%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .grid-sizer,
  .grid-item {
    width: 33.3333%;
  }
}


@media (min-width: 901px) and (max-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
